# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\vicho\Desktop\U\Metodologías de Diseño y Programación\Tareas\Mini Tarea 1\Pokemon\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
